body {
  background-color: #696969;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vmax;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}
.card.lighterShadow {
  box-shadow: 2px 2px 3px 0 rgba(10, 10, 10, 0.95) !important;
}
.card.darkerShadow {
  box-shadow: 7px 7px 7px 0 rgba(90, 90, 90, 0.95) !important;
}
.card.blank {
  background-image: none;
}

.btn {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  color: white;
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
  height: 50px;
  width: 200px;
}

.hover {
  color: #202d7a;
  background-color: aqua;
}